h1 {
  text-align: center;
}

body {
  background: darkcyan;
  color: white;
}

canvas {
  background: white;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

a {
  font-size: 25px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}